<% if @gossip.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
    <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="card create-potin">
  <div class="card-header">
    <h2>Edition du potin:</h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">

      <%= form_for(@gossip) do |f| %>
          <%= f.text_field :title, class: 'form-control' %>
          <br/>
          <%= f.text_area :content, class: 'form-control' %>
          <br/>
          <%= f.submit "Mettre à jour", class: 'btn btn-primary' %>
      <% end %>
    </blockquote>
  </div>
</div>
